.footer-text {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    width: 264px;
    margin-left: 0;
    padding-top: 16px;
}
.footer {
    background-color: #2E2F42;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container {
    display: flex;
    justify-content: flex-start;
}

.footer-box {
    margin-right: 120px;
}

.footer-heading {
    color: #FFFFFF;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    padding-bottom: 16px;
}

.footer-social-list {
    list-style: none;
    display: flex;
    gap: 16px;
}

.footer-social-link {
    fill: #F4F4FD;
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    fill: #F4F4FD;
    background-color: #31D0AA;
}

.footer-subscribe {
    margin-left: 83px;
}

.footer-input {
    color: #ffffff;
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 16px;
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.footer-input:focus {
    border-color: #31D0AA;
    outline: none;
}

.footer-input::placeholder {
    color: #ffffff;
    opacity: 1;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.footer-form {
    display: flex;
}

.footer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin-left: 24px;
    border-radius: 4px;
    border: none;
    padding: 8px 24px;
    height: 40px;
    max-width: 165px;
    background-color: #4D5AE5;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover,
.footer-button:focus {
    background-color: #31D0AA;
}

.icon-subscribe {
    fill: #ffffff;
    margin-left: 16px;
}